html {
  touch-action: pan-y;
  font-family: 'Helvetica Neue', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft Yahei', Helvetica, Arial, sans-serif;
}
body {
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-drag: none;
  -webkit-user-select: none;
  backface-visibility: hidden;
  border-bottom-color: rgb(0, 0, 0);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(0, 0, 0);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(0, 0, 0);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(0, 0, 0);
  border-top-style: none;
  border-top-width: 0px;
  bottom: 0px;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  display: block;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 0px;
  left: 0px;
  line-height: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  right: 0px;
  text-rendering: optimizelegibility;
  top: 0px;
  vertical-align: baseline;
  width: 414px;
  word-wrap: break-word;
  color: #5E5E5E;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes upArrow {
  0%,30% {
    opacity: 0;
    -webkit-transform: translate(0,10px)
  }

  60% {
    opacity: 1;
    -webkit-transform: translate(0,0)
  }

  100% {
    opacity: 0;
    -webkit-transform: translate(0,0)
  }
}

@-moz-keyframes upArrow {
  0%,30% {
    opacity: 0;
    -moz-transform: translate(0,10px)
  }

  60% {
    opacity: 1;
    -moz-transform: translate(0,0)
  }

  100% {
    opacity: 0;
    -moz-transform: translate(0,0)
  }
}

@-ms-keyframes upArrow {
  0%,30% {
    opacity: 0;
    -ms-transform: translate(0,10px)
  }

  60% {
    opacity: 1;
    -ms-transform: translate(0,0)
  }

  100% {
    opacity: 0;
    -ms-transform: translate(0,0)
  }
}

@keyframes upArrow {
  0%,30% {
    opacity: 0;
    transform: translate(0,10px)
  }

  60% {
    opacity: 1;
    transform: translate(0,0)
  }

  100% {
    opacity: 0;
    transform: translate(0,0)
  }
}


.pre-animation{
  visibility: hidden;
}

.view-container .page0{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #383838;
  display: block;
}

.view-container .fade{
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  opacity: 0;
  filter: alpha(opacity=0);
}

.view-container .loading-wrap{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 218ms ease-in-out, opacity 218ms ease-in-out;
  -o-transition: -webkit-transform 218ms ease-in-out, opacity 218ms ease-in-out;
  transition: -webkit-transform 218ms ease-in-out, opacity 218ms ease-in-out;
  -moz-transition: all 0.2s ease-out;
}

.page-wrap{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.page0 .logo{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -60px;
  margin-top: -60px;
  background-image: url('../images/logo_loading.png');
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  background-size: 120px 120px;
  background-position: center center;
  animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear;
}

.view-container{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  left: 0;
  right: 0;
  margin: auto;
}

.page{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  overflow: hidden;
}

.page1 .art-text{
  width: 200px;
  height: 193px;
  background: url(../images/page1_art_text.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 12%;
  top: 12%;
}

.page1 .shoes{
  background: url(../images/page1_shoes.png);
  width: 80px;
  height: 81px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  right: 5%;
}

.page1 .text{
  position: absolute;
  bottom: 30%;
}

.page1 .text div{
  display: block;
  position: relative;
  left: 20px;
  font-size: 1.8em;
  color: white;
  font-weight: 700;
  margin-bottom: 20px;
}

.page1 .page1-logo{
  background: url(../images/page1_logo.png);
  width: 170px;
  height: 25px;
  bottom: 25%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  position: absolute;
  left: 25px;
}

.page1 .page1-footer{
  position: absolute;
  bottom: 0;
  background: url(../images/page1_footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 20%;
  background-position: center top;
}

.page .page-header{
  text-align: center;
  position: absolute;
  top: 5%;
  width: 80%;
  left: 10%;
}
.page .page-header .text{
  font-weight: 700;
  font-size: 1.8em;
  color: white;
  margin: auto;
}
.page4 .page4-ice-cream{
  background: url(../images/page4_ice_cream.png);
  background-repeat: no-repeat;
  height: 80px;
  width: 46px;
  background-size: cover;
  position: absolute;
  left: 18%;
  top: 23%;
}
.page4 .text-has-deg{
  color: white;
  font-size: 3.2em;
  font-weight: 700;
  transform: rotate(18deg) !important;
}
.page4 .design-text-wrap{
  position: absolute;
  right: 10%;
  top: 22%;
}
.page4 .page4-text-wrap{
  color: white;
  font-size: 1.5em;
  font-weight: 700;
}
.page4 .visual-design-text-wrap{
  position: absolute;
  top: 40%;
  left: 8%;
}
.page4 .page4-text-wrap .text{
  display: inline-block;
  margin-top: 15px;
}
.page4 .engineer-type-text-wrap{
  position: absolute;
  right: 8%;
  top: 64%;
}
.page4 .engineer-text-wrap{
  position: absolute;
  bottom: 8%;
  left: 10%;
}
.page4 .page4-popsicle{
  position: absolute;
  width: 44px;
  height: 80px;
  background: url(../images/page4_popsicle.png);
  background-size: cover;
  background-repeat: no-repeat;
  right: 18%;
  bottom: 6%;}
@media screen and (device-aspect-ratio: 5/8), screen and (device-aspect-ratio: 3/5){
  .page4 .page4-ice-cream{
    left: 15%;
    top: 25%;
  }
  .page4 .engineer-type-text-wrap{
    right: 8%;
    top: 70%;
  }
  .page4 .engineer-text-wrap{
    bottom: 5%;
    left: 2%;
  }
  .page4 .design-text-wrap{
    right: 10%;
    top: 28%;
  }
  .page4 .page4-popsicle{
    display: none;
  }
}

.list-body {
  position: absolute;
  width: 95%;
  height: 50%;
  left: 5%;
  top: 23%;
}

.page2 .list-body .list-item {
  width: 100%;
  height: 25%;
  margin-top: 12%;
}

.page3 .list-body .list-item {
  width: 100%;
  height: 25%;
  margin-top: 12%;
}

.list-body .list-item .icon {
  display: inline-block;
}

.list-body .list-item .intro {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
}

.page2 .list-body .list-item .intro{
  margin-left: 15%;
}

.page3 .list-body .list-item .intro{
  position: absolute;
  left: 35%;
}

.page6 .list-body .list-item .intro{
  margin-left: 30%;
}

.list-body .list-item .intro span {
  display: block;
  line-height: 20px;
}

.page2 .item-1 .icon {
  background-image: url(../images/page2_icon_t.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 34px;
  width: 17px;
  margin: 1% 0 0 9%;
}

.page2 .item-2 .icon {
  background-image: url(../images/page2_icon_location.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 25px;
  height: 31px;
  margin: 2% 0 0 8%;
}

.page2 .item-3 .icon {
  background-image: url(../images/page2_icon_people.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  margin: 2% 0 0 8%;
}

.page3 .item-1 .icon {
  background-image: url(../images/page3_icon_t.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 17px;
  height: 34px;
  margin: 1% 0 0 12%;
}

.page3 .item-2 .icon {
  background-image: url(../images/page3_icon_talk.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 42px;
  height: 30px;
  margin: 2% 0 0 8%;
}

.page3 .item-3 .icon {
  background-image: url(../images/page3_icon_today.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  margin: 0 0 0 7%;
}

.page5 .title{
  position: absolute;
  color: #0475BA;
  font-size: 1.6em;
  font-weight: 700;
  left: 8%;
}

.page5 .title1{
  top: 20%;
}

.page5 .title2{
  top: 48%;
}

.page5 .title3{
  top: 82%;
}

.page5 .chapter{
  position: absolute;
  font-size: 1.2em;
  font-weight: 700;
  left: 8%;
}

.page5 .chapter span{
  display: block;
  line-height: 25px;
}

.page5 .chapter-one{
  top: 28%;
}

.page5 .chapter-two{
  top: 56%;
}

.page5 .chapter-three{
  top: 90%;
}

.page5 .icon{
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  right: 10%;
}

.page5 .icon-umbrella{
  width: 70px;
  height: 75px;
  background-image: url(../images/page5_icon_umbrella.png);
  background-repeat: no-repeat;
  top: 20%;
}

.page5 .icon-machine{
  width: 70px;
  height: 70px;
  background-image: url(../images/page5_icon_machine.png);
  background-repeat: no-repeat;
  top: 50%;
}

.page5 .icon-boat{
  width: 92px;
  height: 70px;
  background-image: url(../images/page5_icon_boat.png);
  background-repeat: no-repeat;
  top: 80%;
}

.page6 .list-body .list-item {
  width: 100%;
  margin-bottom: 6%;
}

.page6 .list-item .icon {
  position: absolute;
  left: 5%;
  width: 35px;
  margin-top: 1%;
}

.page6 .item-1 .icon {
  height: 32px;
  background-size: cover;
  background-image: url(../images/page6_icon_star.png);
  background-repeat: no-repeat;
}

.page6 .item-2 .icon {
  height: 42px;
  background-size: cover;
  background-image: url(../images/page6_icon_bulb.png);
  background-repeat: no-repeat;
}

.page6 .item-3 .icon {
  height: 24px;
  background-size: cover;
  background-image: url(../images/page6_icon_humburg.png);
  background-repeat: no-repeat;
}

.page6 .item-4 .icon {
  height: 30px;
  background-size: cover;
  background-image: url(../images/page6_icon_message.png);
  background-repeat: no-repeat;
}

.page6 .item-5 .icon {
  height: 32px;
  background-size: cover;
  background-image: url(../images/page6_icon_smile.png);
  background-repeat: no-repeat;
}

.page6 .list-body .list-item .intro span {
  line-height: 20px;
}

.page7{
  background-image: url(../images/page7_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.page7 .member-wrap{
  position: absolute;
  width: 100%;
  height: 60%;
  top: 20px;
}

.page7 .member{
  float: left;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5% 0 0 8%;
}

.page7 .member span{
  color: white;
  font-weight: 700;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 5%;
}

.page7 .welcome{
  position: absolute;
  top: 60%;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  color: #359ED3;
  font-weight: 600;
}

.page7 .logo{
  position: absolute;
  top: 68%;
  background: url(../images/page7_logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 31px;
  left: 0;
  right: 0;
  margin: auto;
}

.page7 .apply{
  background: #359ED3;
  cursor: pointer;
}

.page7 .apply-background{
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  visibility: hidden;
}

.page7 .apply-form{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 90%;
  border-radius: 5px;
  visibility: hidden;
  z-index: 3;
}

.page7 .form-header{
  position: absolute;
  width: 100%;
  z-index: 3
}

.page7 .form-header .form-header-background{
  background: url(../images/project.jpg);
  background-size: cover;
  width: 100%;
  height: 150px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.page7 .form-header .header-text{
  position: absolute;
  top: 0;
  font-size: 1.5em;
  font-weight: 700;
  margin: auto;
  color: white;
  width: 100%;
  height: 50px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.298039) 0px, rgba(0, 0, 0, 0) 100%);
}

.page7 .form-header .header-text .text{
  position: relative;
  top: 10px;
  left: 10px;
}

.page7 .form-body{
  margin: auto;
  position: absolute;
  width: 100%;
  top: 150px;
  display: inline-block;
  background: white;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  backface-visibility: hidden;
  z-index: 2;
}

.page7 .form-body .info{
  margin: 15px 10px 0 10px;
  text-align: left;
}

.page7 .form-body .love{
  font-size: 1.8em;
  font-weight: 500;
  color: black;
}

.page7 .form-text{
  font-size: 1em;
  display: block;
  text-align: center;
  margin-top: 10px;
}

.clearfix:before {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.tips{
  background-image: url(../images/arrow-up.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  z-index: 2;
  position: fixed;
  display: none;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: upArrow 1.5s infinite ease-in-out;
  -moz-animation: upArrow 1.5s infinite ease-in-out;
  -ms-animation: upArrow 1.5s infinite ease-in-out;
  animation: upArrow 1.5s infinite ease-in-out;
}

.show-phone-background{
  width: 380px;
  height: 810px;
  position: absolute;
  background: url(../images/phone-case.png) no-repeat right top;
  background-size: contain;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
}

.show-phone-background .page{
  width: 320px;
  height: 568px;
  border: 4px solid black;
  background: white;
  overflow: hidden;
}
.show-phone-background .page0{
  background: #383838;
}

.show-phone-background .page7{
  background-image: url(../images/page7_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.show-phone-background .tips{
  position: absolute;
  margin-bottom: 117px;
}

.show-phone-background .page-wrap{
  width: 328px;
  height: 576px;
  overflow: hidden;
}

.ziqiu{
  background-image: url(../images/page7-member-ziqiu.png);
}

.zitian{
  background-image: url(../images/page7-member-zitian.png);
}

.xuanxuan{
  background-image: url(../images/page7-member-xuanxuan.png);
}

.jay{
  background-image: url(../images/page7-member-jay.png);
}

.yaqian{
  background-image: url(../images/page7-member-yaqian.png);
}

.junyuan{
  background-image: url(../images/page7-member-junyuan.png);
}

.cunzhi{
  background-image: url(../images/page7-member-cunzhi.png);
}

.yuhan{
  background-image: url(../images/page7-member-yuhan.png);
}