html {
  touch-action: pan-y;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-drag: none;
  -webkit-user-select: none;
  backface-visibility: hidden;
  border-bottom-color: rgb(0, 0, 0);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(0, 0, 0);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(0, 0, 0);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(0, 0, 0);
  border-top-style: none;
  border-top-width: 0px;
  bottom: 0px;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  display: block;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 0px;
  left: 0px;
  line-height: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  right: 0px;
  text-rendering: optimizelegibility;
  top: 0px;
  vertical-align: baseline;
  width: 414px;
  word-wrap: break-word;
}

.view-container{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  min-height: 568px;
}

.page{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.has-triangle-wrap{
  height: 100%;
}
.has-triangle-bg{
  height: 58.3%;
  background: url(../images/page1_triangle.png);
  background-size: cover;
  background-position: center bottom;
}
.has-triangle-bg .art-text{
  width: 200px;
  height: 193px;
  background: url(../images/page1_art_text.png);
  background-size: cover;
  position: relative;
  left: 35px;
  top: 35px;
}
.has-triangle-bg .shooes{
  background: url(../images/page1_shooes.png);
  width: 80px;
  height: 81px;
  background-size: cover;
  position: absolute;
  right: 25px;
  top: 51%;
}
.has-triangle-footer{
  height: 41.7%;
  background: url(../images/page1_footer.png);
  background-size: cover;
  background-position: center top;
}
.has-triangle-footer .text{
  position: relative;
  top: -15%;
}
.has-triangle-footer .text div{
  display: block;
  position: relative;
  left: 20px;
  font-size: 1.8em;
  color: white;
  font-weight: 700;
  margin-bottom: 20px;
}
.has-triangle-footer .logo{
  background: url(../images/page1_logo.png);
  width: 170px;
  height: 25px;
  top: -15%;
  background-size: cover;
  background-position: center bottom;
  position: relative;
  left: 25px;
}
.page-header{
  height: 15%;
}
.page2-header .page2-header-color{
  height: 100%;
  background: rgb(53, 158, 211);
}
.page-header .page-header-shape{
  background: url(../images/page2_header.png);
  height: 100%;
  position: relative;
  bottom: 12px;
  background-repeat: repeat-x;
}
.page3-header .page3-header-color{
  height: 100%;
  background: rgb(178,105,151);
}
.page2-header .page2-header-shape{

}

.list-body {
  position: relative;
}

.list-body .list-item {
  position: relative;
  margin: 50px 0;
  padding: 20px 0;
}

.list-body .list-item .icon {
  display: inline-block;
  position: absolute;
  width: 18%;
  left: 1%;
  height: 60px;
  margin-left: 20px;
  margin-right: 15px;
  background-position: center top;
  background-repeat: no-repeat;
}

.list-body .list-item .intro {
  display: inline-block;
  position: absolute;
  left: 32%;
  color: #a6a6a6;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}
.list-body .list-item .intro span {
  display: block;
  line-height: 30px;
}

.page2 .item-1 .icon {
  background-size: 30px 60px;
  background-image: url(../images/page2_icon_t.png);
}

.page2 .item-2 .icon {
  background-size: 48px 59px;
  background-image: url(../images/page2_icon_location.png);
}

.page2 .item-3 .icon {
  background-size: 58px 58px;
  background-image: url(../images/page2_icon_people.png);
}

.page3 .item-1 .icon {
  background-size: 30px 60px;
  background-image: url(../images/page3_icon_t.png);
}

.page3 .item-2 .icon {
  background-size: 55px 50px;
  background-image: url(../images/page3_icon_talk.png);
}

.page3 .item-3 .icon {
  background-size: 60px;
  background-image: url(../images/page3_icon_today.png);
}

.page6 .item-1 .icon {
  background-size: 40px;
  background-image: url(../images/page6_icon_star.png);
}

.page6 .item-2 .icon {
  background-size: 35px 45px;
  background-image: url(../images/page6_icon_bulb.png);
}

.page6 .item-3 .icon {
  background-size: 40px 30px;
  background-image: url(../images/page6_icon_humburg.png);
}

.page6 .item-4 .icon {
  background-size: 50px 45px;
  background-image: url(../images/page6_icon_message.png);
}

.page6 .item-5 .icon {
  background-size: 45px;
  background-image: url(../images/page6_icon_smile.png);
}

.page6 {

}

.page6 .list-body .list-item .intro span {
  line-height: 25px;
}

.clearfix:before {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

