html {
  touch-action: pan-y;
  font-family: 'Helvetica Neue', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft Yahei', Helvetica, Arial, sans-serif;
}
body {
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-drag: none;
  -webkit-user-select: none;
  backface-visibility: hidden;
  border-bottom-color: rgb(0, 0, 0);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(0, 0, 0);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(0, 0, 0);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(0, 0, 0);
  border-top-style: none;
  border-top-width: 0px;
  bottom: 0px;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  display: block;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 0px;
  left: 0px;
  line-height: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  right: 0px;
  text-rendering: optimizelegibility;
  top: 0px;
  vertical-align: baseline;
  width: 414px;
  word-wrap: break-word;
  color: #5E5E5E;
}

.view-container{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  min-height: 568px;
  overflow: hidden;
}

.page{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.has-triangle-wrap{
  height: 100%;
}
.has-triangle-bg{
  height: 58%;
  background: url(../images/page1_triangle.png);
  background-size: cover;
  background-position: center bottom;
}
.has-triangle-bg .art-text{
  width: 200px;
  height: 193px;
  background: url(../images/page1_art_text.png);
  background-size: cover;
  position: relative;
  left: 12%;
  top: 12%;
}
.has-triangle-bg .shoes{
  background: url(../images/page1_shoes.png);
  width: 80px;
  height: 81px;
  background-size: cover;
  position: absolute;
  right: 25px;
  top: 49%;
}
.has-triangle-footer{
  height: 42%;
  background: url(../images/page1_footer.png);
  background-size: cover;
  background-position: center top;
}
.has-triangle-footer .text{
  position: relative;
  top: -15%;
}
.has-triangle-footer .text div{
  display: block;
  position: relative;
  left: 20px;
  font-size: 1.8em;
  color: white;
  font-weight: 700;
  margin-bottom: 20px;
}
.has-triangle-footer .logo{
  background: url(../images/page1_logo.png);
  width: 170px;
  height: 25px;
  top: -15%;
  background-size: cover;
  background-position: center bottom;
  position: relative;
  left: 25px;
}
.page .page-header{
  text-align: center;
  position: absolute;
  top: 5%;
  width: 80%;
  left: 10%;
}
.page .page-header .text{
  font-weight: 700;
  font-size: 1.8em;
  color: white;
  margin: auto;
}
.page4 .page4-ice-cream{
  background: url(../images/page4_ice_cream.png);
  height: 80px;
  width: 46px;
  background-size: cover;
  position: absolute;
  left: 18%;
  top: 23%;
}
.page4 .text-has-deg{
  color: white;
  font-size: 3.2em;
  font-weight: 700;
  transform: rotate(18deg);
}
.page4 .design-text-wrap{
  position: absolute;
  right: 10%;
  top: 22%;
}
.page4 .page4-text-wrap{
  color: white;
  font-size: 1.5em;
  font-weight: 700;
}
.page4 .visual-design-text-wrap{
  position: absolute;
  top: 40%;
  left: 8%;
}
.page4 .page4-text-wrap .text{
  display: inline-block;
  margin-top: 15px;
}
.page4 .engineer-type-text-wrap{
  position: absolute;
  right: 8%;
  top: 64%;
}
.page4 .engineer-text-wrap{
  position: absolute;
  bottom: 8%;
  left: 10%;
}
.page4 .page4-popsicle{
  position: absolute;
  width: 44px;
  height: 80px;
  background: url(../images/page4_popsicle.png);
  background-size: cover;
  right: 18%;
  bottom: 6%;}
@media screen and (device-aspect-ratio: 5/8), screen and (device-aspect-ratio: 3/5){
  .page4 .page4-ice-cream{
    left: 15%;
    top: 25%;
  }
  .page4 .engineer-type-text-wrap{
    right: 8%;
    top: 70%;
  }
  .page4 .engineer-text-wrap{
    bottom: 5%;
    left: 2%;
  }
  .page4 .design-text-wrap{
    right: 10%;
    top: 28%;
  }
  .page4 .page4-popsicle{
    display: none;
  }
}.page2-header .page2-header-shape{

}

.list-body {
  position: absolute;
  width: 95%;
  height: 50%;
  left: 5%;
  top: 25%;
}

.page2 .list-body .list-item {
  width: 100%;
  height: 25%;
  margin-top: 10%;
}

.page3 .list-body .list-item {
  width: 100%;
  height: 25%;
  margin-top: 12%;
}

.list-body .list-item .icon {
  display: inline-block;
}

.list-body .list-item .intro {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
}

.page2 .list-body .list-item .intro{
  margin-left: 15%;
}

.page3 .list-body .list-item .intro{
  position: absolute;
  left: 35%;
}

.page6 .list-body .list-item .intro{
  margin-left: 30%;
}

.list-body .list-item .intro span {
  display: block;
  line-height: 20px;
}

.page2 .item-1 .icon {
  background-image: url(../images/page2_icon_t.png);
  background-size: cover;
  height: 34px;
  width: 17px;
  margin: 1% 0 0 9%;
}

.page2 .item-2 .icon {
  background-image: url(../images/page2_icon_location.png);
  background-size: cover;
  width: 25px;
  height: 31px;
  margin: 2% 0 0 8%;
}

.page2 .item-3 .icon {
  background-image: url(../images/page2_icon_people.png);
  background-size: cover;
  width: 25px;
  height: 25px;
  margin: 2% 0 0 8%;
}

.page3 .item-1 .icon {
  background-image: url(../images/page3_icon_t.png);
  background-size: cover;
  width: 17px;
  height: 34px;
  margin: 1% 0 0 12%;
}

.page3 .item-2 .icon {
  background-image: url(../images/page3_icon_talk.png);
  background-size: cover;
  width: 42px;
  height: 30px;
  margin: 2% 0 0 8%;
}

.page3 .item-3 .icon {
  background-image: url(../images/page3_icon_today.png);
  background-size: cover;
  width: 50px;
  height: 50px;
  margin: 0 0 0 7%;
}

.page5 .title{
  position: absolute;
  color: #0475BA;
  font-size: 1.6em;
  font-weight: 700;
  left: 8%;
}

.page5 .title1{
  top: 20%;
}

.page5 .title2{
  top: 48%;
}

.page5 .title3{
  top: 82%;
}

.page5 .chapter{
  position: absolute;
  font-size: 1.2em;
  font-weight: 700;
  left: 8%;
}

.page5 .chapter span{
  display: block;
  line-height: 25px;
}

.page5 .chapter-one{
  top: 28%;
}

.page5 .chapter-two{
  top: 56%;
}

.page5 .chapter-three{
  top: 90%;
}

.page5 .icon{
  position: absolute;
  background-size: cover;
  right: 10%;
}

.page5 .icon-umbrella{
  width: 70px;
  height: 75px;
  background-image: url(../images/page5_icon_umbrella.png);
  top: 20%;
}

.page5 .icon-machine{
  width: 70px;
  height: 70px;
  background-image: url(../images/page5_icon_machine.png);
  top: 50%;
}

.page5 .icon-boat{
  width: 92px;
  height: 70px;
  background-image: url(../images/page5_icon_boat.png);
  top: 80%;
}

.page6 .list-body .list-item {
  width: 100%;
  margin-bottom: 10%;
}

.page6 .list-item .icon {
  position: absolute;
  left: 5%;
  width: 35px;
  margin-top: 1%;
}

.page6 .item-1 .icon {
  height: 32px;
  background-size: cover;
  background-image: url(../images/page6_icon_star.png);
}

.page6 .item-2 .icon {
  height: 42px;
  background-size: cover;
  background-image: url(../images/page6_icon_bulb.png);
}

.page6 .item-3 .icon {
  height: 24px;
  background-size: cover;
  background-image: url(../images/page6_icon_humburg.png);
}

.page6 .item-4 .icon {
  height: 30px;
  background-size: cover;
  background-image: url(../images/page6_icon_message.png);
}

.page6 .item-5 .icon {
  height: 32px;
  background-size: cover;
  background-image: url(../images/page6_icon_smile.png);
}

.page6 .list-body .list-item .intro span {
  line-height: 20px;
}

.page7{
  background-image: url(../images/page7_background.png);
  background-size: cover;
  background-position: bottom center;
}

.page7 .member-wrap{
  position: absolute;
  width: 100%;
  height: 60%;
  top: 20px;
}

.page7 .member{
  display: inline-block;
  width: 22%;
  border-radius: 50%;
  background: pink;
  background-size: cover;
  margin: 5% 0 0 8%;
}

.page7 .welcome{
  position: absolute;
  top: 60%;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  color: #359ED3;
  font-weight: 600;
}

.page7 .logo{
  position: absolute;
  top: 68%;
  background: url(../images/page7_logo.png);
  background-size: cover;
  width: 200px;
  height: 31px;
  left: 0;
  right: 0;
  margin: auto;
}

.clearfix:before {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

